@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
  font-size: 15pt;
  margin: 2em;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body a {
  color: #000000;
  text-decoration: underline;
}

/* body a:hover {
  background: #000000;
  color: #ffffff;
  text-decoration: none;
} */

body a.green:hover { background: #9AFFBC; color: #000000;}
body a.purple:hover { background: #a083ff; color: #000000;}
body a.teal:hover { background: #1dffe1; color: #000000;}
body a.orange:hover { background: #ff974d; color: #000000;}

body a:active {
  color: inherit;
}

mark { background-color: #eeeeee; color: black;}
.blackMark { background-color: #000000; color: #eeeeee;}
.greenMark{ background-color: #9AFFBC; color: #000000;}
.purpleMark{ background-color: #a083ff; color: #000000;}
.tealMark{ background-color: #1dffe1; color: #000000;}
.orangeMark{ background-color: #ff974d; color: #000000;}
.blueMark{ background-color: #49b6ff; color: #000000;}

h1 {
  color: #000000;
  font-family: 'Comfortaa', sans-serif;
  font-size: 25pt;
  font-weight: bold;
  overflow-wrap: break-word;
}

h2 {
  color: #9a9a9a;
  font-family: 'Comfortaa', sans-serif;
  font-size: 20pt;
  font-weight: 600;
}

button {
  font-family: 'Comfortaa', sans-serif;
  background-color: black;
  border: none;
  color: white;
  padding: 10px 10px;
  width: 100%;
  /*   text-align: center; */
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 30px 2px;
  cursor: pointer;
}

p {
  font-size: 15pt;
  line-height: 18pt;
}

small {
  font-size: 10pt;
}

.left {
  width: 15%;
  padding: 1% 1% 1% 0;
  float: left;
  display: inline-block;
  /*   background-color: red; */
}

.center {
  width: 15%;
  padding: 1%;
  float: left;
  display: inline-block;
}

.right {
  width: 60%;
  padding: 1%;
  float: left;
  display: inline-block;
}

.nav {
  padding: 0%;
  width: 15%;
  height: 100%;
  display: inline-block;
  float: left;
  text-align: right;
}

.content {
  padding-left: 5%;
  width: 75%;
  /* display: inline-block; */
  float: left;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  font-size: 15pt;
  list-style-type: none;
  padding-bottom: 1em;
  text-decoration: none;
}

li.bullet {
  list-style-type: "- ";
  margin: 1%;
  padding: 0;
}

li.bullet a {
  color: rgb(0, 0, 0);
}

li a {
  color: black;
  text-decoration: none;
}

iframe {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  display: inline-block;
  float: left;
  margin-bottom: 2%;
}

.full-width-box {
  width: 100%;
  margin-bottom: 2%;
  display: block;
  float: left;
}

img {
  margin: auto;
  display: block;
  max-width: 80%; 
  height: auto;
  pointer-events: none;
}

.fullwidth {
  width: 100%;
  float: left;
}

footer {
  text-align: center; 
  padding-bottom: 2em;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.flex-container {
  display: flex;
  text-align: center;
  flex-direction: row;
}

.flex-item{
  background-color: #eee;
  margin: 15px;
  flex: 50%;
  font-size: 15pt;
}

.flex-img{
  max-height: 200px;
  width: fit-content;
}

.flex-list-container {
  display: flex;
  background-color: #eeeeee;
  text-align: center;
  flex-direction: row;
}

.flex-list{
  flex: 50%;
  font-size: 15pt;
}

/* body .gist .gist-file {
  margin-bottom: 0;
  border: 1px dashed #adb5bd;
  border-radius: 0;
}

body .gist .gist-data {
  border-bottom: none;
  border-radius: 0;
  background-color: #f1f3f5;
}

body .gist .blob-wrapper {
  border-radius: 0;
}

body .gist .highlight {
  background-color: transparent;
  font-family: 'Comfortaa', sans-serif;
  font-size: 14px;
}

body .gist .highlight td {
  padding: 5px 15px !important;
  line-height: 1;
  font-family: inherit;
  font-size: inherit;
}

body .gist tr:first-child td {
  padding-top: 15px !important;
}

body .gist tr:last-child td {
  padding-bottom: 15px !important;
}

body .gist .blob-num {
  color: #ced4da;
  background-color: #495057;
  pointer-events: none;
}

body .gist .gist-meta {
  display: none;
} */

.nav-link {
  font-size: 15px;
  line-height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.nav-link a,
.nav-link a:visited {
  color: black;
  text-decoration: none;
}

#toggle {
  display: none;
}

@media only screen and (max-width: 1000px) {  
  body {
    font-family: 'Comfortaa', sans-serif;
    margin: 2%;
    width: 98%;
    height: 100%;
  }
  .nav {
    width: 100%;
    text-align: center;
  }
  .content {
    width: 100%;
    float: left;
  }

  img {
    max-width: 100%; 
    height: auto;
  }

  .flex-container {
    flex-direction: column;
  }

  .flex-list-container {
    flex-direction: column;
  }

  .flex-img {
    max-height: 150px;
    width: fit-content;
  }
}

.myBox {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

  border: 1px solid black;
}

